@page
@model MightyBurger.Pages.aboutusModel
@{
    ViewData["Title"] = "About Us";
}

<section class="about">
    <h1>About Mighty Burger</h1>
    <p>At Mighty Burger, place holderplace holderplace holder.</p>
    <p>place holderplace holderplace holderplace holder</p>
</section>
