@page
@model IndexModel
@{
    ViewData["Title"] = "Home - Mighty Burger";
}


<section class="hero">
    <div class="hero-content">
        <h1>The Home of MIGHTY BURGER™ </h1>
        <p>Where freshness and flavor meet.</p>
        <a href="/Menu" class="btn btn-primary center-btn">See The Menu</a>
    </div>
</section>


<section class="freshness">
    <h2>Our Commitment to Freshness</h2>
    <p>We use only the freshest ingredients to craft our burgers, place holder place holder.</p>
    <div class="ingredient-images">
        <img src="~/images/lettuce.jpg" alt="Fresh Lettuce">
        <img src="~/images/tomato.jpg" alt="Fresh Tomato">
        <img src="~/images/beef.jpg" alt="Fresh Beef">
    </div>
</section>
